@import '../colors.scss';

// initial color declaration
$foreground: $bg5;

.contrib, .about-site {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contrib-header, .about-content {
  text-align: center;
  width: 100%;
}
