@import '../../colors.scss';

// initial color declaration
$foreground: $aqua;

.player-root {
  // sizing
  padding: 12px;
  margin: 20px 10px;
  // borders
  border: 4px solid $foreground;
  border-radius: 12px;
}

.playlist-uri {
  display: flex;
}

playlist-uri > label, button{
  padding: 4px;
  width: 50%;
}
